$--font-1: "Manjari", sans-serif;
$--font-2: "Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $--font-1;
}

body {
    background: linear-gradient(158.72deg, #cfafff 0%, #a6c6d1 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px;
    background-color: rgb(255, 255, 255);

    .logo {
        font-size: 2.5rem;
        font-family: $--font-2;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        color: rgb(179, 192, 223);
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            list-style-type: none;
            display: flex;
            gap: 50px;

            li {
                text-transform: capitalize;
                font-size: 1.0625rem;
                font-weight: 400;
                cursor: pointer;
            }
        }
    }

    .nav_action {
        button {
            height: 50px;
            padding: 15px;
            border-radius: 50px;
            font-weight: 700;
            font-size: 1.3125rem;
            text-transform: capitalize;
            border: 1px solid rgb(179, 192, 223);
            background-color: white;
            color: rgb(179, 192, 223);
            cursor: pointer;
        }
    }
}

main {
    color: rgb(255, 255, 255);

    .hero {
        padding: 50px 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        height: 100vh;
        position: relative;

        > i {
            position: absolute;
            right: 25%;
            top: 30px;
            height: 45px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            border-radius: 50%;
            background-color: rgb(255, 255, 255, 0.15);
            box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);

            span {
                background-color: rgb(255, 255, 255);
                color: #21a5b5;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                i {
                    padding-top: 3px;
                    border: transparent;
                    font-size: 1.2rem;
                    background-color: inherit;
                }
            }
        }

        h1 {
            font-size: 3.4375rem;
            font-weight: 700;
            width: 100%;
            align-items: flex-start;

            &::first-letter {
                text-transform: capitalize;
            }
        }

        .hero_texts {
            display: flex;
            align-items: center;
            gap: 40px;
            flex-direction: column;

            p {
                &:nth-of-type(1) {
                    font-size: 3rem;
                    font-weight: 400;
                }

                &:nth-of-type(2) {
                    font-size: 1.375rem;
                    width: 75%;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 20%;
            font-size: 1.5rem;
            border-radius: 25px;
            cursor: pointer;
            border: none;
            font-weight: 400;
            color: rgb(179, 192, 223);
            background-color: rgb(255, 255, 255);
            font-weight: 700;
            margin-top: 50px;
        }

        .hero_actions {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin-top: 100px;

            span {
                border: 2px solid;
                padding: 20px 80px;
                font-weight: 400;
                font-size: 1.5rem;
                border-radius: 30px;

                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }
    }

    .getting_started {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px 150px;
        gap: 20px;
        position: relative;

        > i {
            position: absolute;
            height: 45px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            border-radius: 50%;
            background-color: rgb(255, 255, 255, 0.15);
            box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);

            &:nth-of-type(1) {
                left: 200px;
                bottom: 200px;
            }

            &:nth-of-type(2) {
                right: 350px;
                top: -20px;
            }

            span {
                background-color: rgb(255, 255, 255);
                color: #21a5b5;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                i {
                    padding-top: 3px;
                    border: transparent;
                    font-size: 1.2rem;
                    background-color: inherit;
                }
            }
        }

        h2 {
            text-transform: capitalize;
            font-weight: 600;
            font-size: 2.75rem;
            font-family: $--font-2;
        }

        > p {
            text-align: justify;
            width: min(60%, 1200px);
            font-size: 1.4375rem;
        }

        > span {
            position: absolute;
            top: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        > div {
            display: flex;
            margin-top: 70px;
            justify-content: space-between;
            gap: 100px;

            div {
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 2.4375rem;
                    font-weight: 700;
                    font-family: $--font-2;
                    white-space: nowrap;
                }

                p {
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }

    .about_top {
        padding: 100px 150px;
        display: flex;

        > div {
            padding: 20px 100px 50px 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            border: 1px solid;
            background: linear-gradient(
                180deg,
                rgba(105, 79, 192, 0.03) 0%,
                rgba(172, 153, 233, 0.59) 100%
            );

            &:nth-of-type(1) {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }

            &:nth-of-type(3) {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: rgb(255, 255, 255);
                color: black;

                i {
                    font-size: 2rem;
                }
            }

            h4 {
                font-family: $--font-2;
                font-weight: 700;
                font-size: 1.25rem;
                text-transform: capitalize;
            }

            p {
                font-size: 1.125rem;
                font-weight: 400;
            }
        }
    }

    .about_bottom {
        position: relative;
        padding: 100px 150px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        > i {
            position: absolute;
            top: 0;
            height: 45px;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: normal;
            border-radius: 50%;
            background-color: rgb(255, 255, 255, 0.15);
            box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);

            &:nth-of-type(1) {
                left: 250px;
            }

            &:nth-of-type(2) {
                right: 250px;
            }

            span {
                background-color: rgb(255, 255, 255);
                color: #21a5b5;
                border-radius: 50%;
                height: 25px;
                width: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                i {
                    padding-top: 3px;
                    border: transparent;
                    font-size: 1.2rem;
                    background-color: inherit;
                }
            }
        }

        > div {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &:nth-of-type(1) {
                align-items: flex-start;
                justify-content: space-evenly;

                h2 {
                    font-family: $--font-2;
                    font-size: 2.75rem;
                    font-weight: 600;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                button {
                    width: 50%;
                    padding: 20px 50px;
                    border: none;
                    border-radius: 25px;
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: rgb(255, 255, 255);
                    background: linear-gradient(
                        180deg,
                        rgba(105, 79, 192, 0.03) 0%,
                        rgba(172, 153, 233, 0.59) 100%
                    );
                    cursor: pointer;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }
            }

            &:nth-of-type(2) {
                justify-content: center;
                align-items: center;

                > div {
                    padding: 10px 30px;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: center;

                    &:nth-of-type(2) {
                        background: linear-gradient(
                            180deg,
                            rgba(105, 79, 192, 0.03) 0%,
                            rgba(172, 153, 233, 0.59) 100%
                        );
                        border-radius: 25px;
                    }

                    > span {
                        display: flex;
                        position: relative;
                        background-color: #cfafff;
                        align-items: center;
                        justify-content: center;
                        min-height: 50px;
                        min-width: 50px;
                        border-radius: 50%;

                        i {
                            font-size: 2rem;
                            color: rgb(255, 255, 255);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;

                        > h4 {
                            text-transform: capitalize;
                            font-family: $--font-2;
                            font-weight: 700;
                            font-size: 1.25rem;
                        }

                        > p {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }

    .binance {
        margin: 150px;
        position: relative;
        padding: 50px 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        background: linear-gradient(
            180deg,
            rgba(105, 79, 192, 0.03) 0%,
            rgba(172, 153, 233, 0.59) 100%
        );
        border-radius: 25px;

        > span {
            position: absolute;
            right: 100px;
            top: 50px;
            font-family: $--font-2;
            font-size: 2.25rem;
            text-transform: capitalize;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 15px;

            i {
                height: 45px;
                width: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-style: normal;
                border-radius: 50%;
                background-color: rgb(255, 255, 255, 0.15);
                box-shadow: 0 3px 10px rgb(0, 0, 0, 0.1);

                span {
                    background-color: rgb(255, 255, 255);
                    color: #21a5b5;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    i {
                        border: transparent;
                        font-size: 1.2rem;
                        background-color: inherit;
                    }
                }
            }
        }

        > div {
            &:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-top: 50px;

                img {
                    height: 125px;
                    width: 125px;
                }

                h3 {
                    font-weight: 600;
                    font-family: $--font-2;
                    font-size: 2.5rem;
                    text-transform: capitalize;
                }
            }
        }

        .about_chain {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 75px;

            > div {
                display: flex;
                flex-direction: column;
                gap: 25px;
                border-bottom: 1px solid white;

                > span {
                    font-size: 2.25rem;
                    font-family: $--font-2;
                    font-weight: 400;

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                > div {
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 2.75rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: $--font-2;
                    }
                }
            }
        }
    }

    .comments {
        .comments_top {
            padding: 100px 150px 0px 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
                font-family: $--font-2;
                font-size: 2.75rem;
                font-weight: 600;
                width: 375px;

                &::first-letter {
                    text-transform: capitalize;
                }
            }

            p {
                width: 555px;
                font-weight: 400;
                font-size: 1.25rem;
            }
        }

        .comments_bottom {
            margin: 25px 75px 75px 75px;
            padding: 25px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 200px;
            background: linear-gradient(
                180deg,
                rgba(105, 79, 192, 0.03) 0%,
                rgba(172, 153, 233, 0.59) 100%
            );

            > div {
                display: flex;
                flex-direction: column;
                gap: 100px;

                > div {
                    &:nth-of-type(1) {
                        position: relative;

                        span {
                            font-size: 5rem;
                            position: absolute;
                            font-family: $--font-1;
                            font-style: italic;
                            left: -10px;
                        }

                        p {
                            padding-top: 50px;
                            font-size: 1.25rem;
                            font-family: $--font-2;
                            font-weight: 500;
                        }
                    }

                    &:nth-of-type(2) {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        padding-left: 25px;

                        img {
                            height: 75px;
                            width: 75px;
                            border-radius: 50%;
                        }

                        > div {
                            display: flex;
                            flex-direction: column;

                            span {
                                font-family: $--font-2;
                                font-weight: 600;
                                text-transform: capitalize;

                                &:nth-of-type(1) {
                                    font-size: 1rem;
                                }

                                &:nth-of-type(2) {
                                    font-size: 0.75rem;
                                    color: rgba(255, 255, 255, 0.78);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .register {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        > div {
            padding: 75px 100px;
            margin: 50px;
            background: linear-gradient(
                180deg,
                rgba(105, 79, 192, 0.03) 0%,
                rgba(140, 118, 214, 0.324583) 0%,
                rgba(254, 254, 255, 0.324583) 99.99%,
                rgba(172, 153, 233, 0.59) 100%
            );
            border-radius: 45px;
            display: flex;
            justify-content: space-between;

            .register_left {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 40px;

                h3 {
                    font-family: $--font-2;
                    font-weight: 600;
                    font-size: 2.5rem;

                    &::first-letter {
                        text-transform: uppercase;
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 1.125rem;
                    width: 69%;
                }
            }

            .register_right {
                display: flex;
                align-items: flex-end;

                button {
                    height: 80px;
                    width: 300px;
                    font-size: 20px;
                    font-family: $--font-2;
                    font-weight: 700;
                    color: rgb(255, 255, 255);
                    border: 1px solid white;
                    background: linear-gradient(
                        180deg,
                        rgba(105, 79, 192, 0.03) 0%,
                        rgba(172, 153, 233, 0.59) 100%
                    );
                    border-radius: 25px;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
        }

        > p {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: $--font-2;
            font-size: 1.4375rem;

            span {
                display: flex;
                align-items: center;
                gap: 5px;
                text-transform: capitalize;
                font-weight: 600;
                font-family: $--font-2;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

footer {
    border-top: 1px solid white;
    margin-top: 50px;
    padding: 75px;
    display: flex;
    justify-content: space-between;
    color: white;

    .footer_left {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
            font-family: $--font-2;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 2.1875rem;
        }

        p {
            font-family: $--font-2;
            width: 40%;
            font-size: 1.5rem;
        }
    }

    .footer_right {
        display: flex;
        gap: 75px;

        ul {
            list-style-type: none;
            display: flex;
            gap: 50px;
            flex-direction: column;
            text-transform: capitalize;

            li {
                font-family: $--font-2;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}
