* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manjari", sans-serif;
}

body {
    background: linear-gradient(158.72deg, #cfafff 0%, #a6c6d1 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 75px;
    background-color: rgb(255, 255, 255);
}
header .logo {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    color: rgb(179, 192, 223);
}
header .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .navigation ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
header .navigation ul li {
    text-transform: capitalize;
    font-size: 1.0625rem;
    font-weight: 400;
    cursor: pointer;
}
header .nav_action button {
    height: 50px;
    padding: 15px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.3125rem;
    text-transform: capitalize;
    border: 1px solid rgb(179, 192, 223);
    background-color: white;
    color: rgb(179, 192, 223);
    cursor: pointer;
}

main {
    color: rgb(255, 255, 255);
}
main .hero {
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100vh;
    position: relative;
}
main .hero > i {
    position: absolute;
    right: 25%;
    top: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
main .hero > i span {
    background-color: rgb(255, 255, 255);
    color: #21a5b5;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
main .hero > i span i {
    padding-top: 3px;
    border: transparent;
    font-size: 1.2rem;
    background-color: inherit;
}
main .hero h1 {
    font-size: 3.4375rem;
    font-weight: 700;
    width: 100%;
    align-items: flex-start;
}
main .hero h1::first-letter {
    text-transform: capitalize;
}
main .hero .hero_texts {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}
main .hero .hero_texts p:nth-of-type(1) {
    font-size: 3rem;
    font-weight: 400;
}
main .hero .hero_texts p:nth-of-type(2) {
    font-size: 1.375rem;
    width: 75%;
}
main .hero button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 20%;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    font-weight: 400;
    color: rgb(179, 192, 223);
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 50px;
}
main .hero .hero_actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 100px;
}
main .hero .hero_actions span {
    border: 2px solid;
    padding: 20px 80px;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 30px;
}
main .hero .hero_actions span::first-letter {
    text-transform: capitalize;
}
main .getting_started {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 150px;
    gap: 20px;
    position: relative;
}
main .getting_started > i {
    position: absolute;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
main .getting_started > i:nth-of-type(1) {
    left: 200px;
    bottom: 200px;
}
main .getting_started > i:nth-of-type(2) {
    right: 350px;
    top: -20px;
}
main .getting_started > i span {
    background-color: rgb(255, 255, 255);
    color: #21a5b5;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
main .getting_started > i span i {
    padding-top: 3px;
    border: transparent;
    font-size: 1.2rem;
    background-color: inherit;
}
main .getting_started h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2.75rem;
    font-family: "Poppins", sans-serif;
}
main .getting_started > p {
    text-align: justify;
    width: min(60%, 1200px);
    font-size: 1.4375rem;
}
main .getting_started > span {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main .getting_started > div {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    gap: 100px;
}
main .getting_started > div div {
    display: flex;
    flex-direction: column;
}
main .getting_started > div div h3 {
    font-size: 2.4375rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
}
main .getting_started > div div p {
    font-weight: 400;
    font-size: 1rem;
}
main .about_top {
    padding: 100px 150px;
    display: flex;
}
main .about_top > div {
    padding: 20px 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(172, 153, 233, 0.59) 100%
    );
}
main .about_top > div:nth-of-type(1) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
main .about_top > div:nth-of-type(3) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
main .about_top > div span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: black;
}
main .about_top > div span i {
    font-size: 2rem;
}
main .about_top > div h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: capitalize;
}
main .about_top > div p {
    font-size: 1.125rem;
    font-weight: 400;
}
main .about_bottom {
    position: relative;
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
main .about_bottom > i {
    position: absolute;
    top: 0;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
main .about_bottom > i:nth-of-type(1) {
    left: 250px;
}
main .about_bottom > i:nth-of-type(2) {
    right: 250px;
}
main .about_bottom > i span {
    background-color: rgb(255, 255, 255);
    color: #21a5b5;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
main .about_bottom > i span i {
    padding-top: 3px;
    border: transparent;
    font-size: 1.2rem;
    background-color: inherit;
}
main .about_bottom > div {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main .about_bottom > div:nth-of-type(1) {
    align-items: flex-start;
    justify-content: space-evenly;
}
main .about_bottom > div:nth-of-type(1) h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
}
main .about_bottom > div:nth-of-type(1) h2::first-letter {
    text-transform: capitalize;
}
main .about_bottom > div:nth-of-type(1) button {
    width: 50%;
    padding: 20px 50px;
    border: none;
    border-radius: 25px;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(172, 153, 233, 0.59) 100%
    );
    cursor: pointer;
}
main .about_bottom > div:nth-of-type(1) button::first-letter {
    text-transform: capitalize;
}
main .about_bottom > div:nth-of-type(2) {
    justify-content: center;
    align-items: center;
}
main .about_bottom > div:nth-of-type(2) > div {
    padding: 10px 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
main .about_bottom > div:nth-of-type(2) > div:nth-of-type(2) {
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(172, 153, 233, 0.59) 100%
    );
    border-radius: 25px;
}
main .about_bottom > div:nth-of-type(2) > div > span {
    display: flex;
    position: relative;
    background-color: #cfafff;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
}
main .about_bottom > div:nth-of-type(2) > div > span i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
main .about_bottom > div:nth-of-type(2) > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
main .about_bottom > div:nth-of-type(2) > div > div > h4 {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
}
main .about_bottom > div:nth-of-type(2) > div > div > p {
    font-size: 1.125rem;
}
main .binance {
    margin: 150px;
    position: relative;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(172, 153, 233, 0.59) 100%
    );
    border-radius: 25px;
}
main .binance > span {
    position: absolute;
    right: 100px;
    top: 50px;
    font-family: "Poppins", sans-serif;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}
main .binance > span i {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
main .binance > span i span {
    background-color: rgb(255, 255, 255);
    color: #21a5b5;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
main .binance > span i span i {
    border: transparent;
    font-size: 1.2rem;
    background-color: inherit;
}
main .binance > div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
main .binance > div:nth-of-type(1) img {
    height: 125px;
    width: 125px;
}
main .binance > div:nth-of-type(1) h3 {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    text-transform: capitalize;
}
main .binance .about_chain {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 75px;
}
main .binance .about_chain > div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom: 1px solid white;
}
main .binance .about_chain > div > span {
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
main .binance .about_chain > div > span::first-letter {
    text-transform: capitalize;
}
main .binance .about_chain > div > div {
    display: flex;
    justify-content: space-between;
}
main .binance .about_chain > div > div span {
    font-size: 2.75rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
main .comments .comments_top {
    padding: 100px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .comments .comments_top h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    width: 375px;
}
main .comments .comments_top h3::first-letter {
    text-transform: capitalize;
}
main .comments .comments_top p {
    width: 555px;
    font-weight: 400;
    font-size: 1.25rem;
}
main .comments .comments_bottom {
    margin: 25px 75px 75px 75px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 200px;
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(172, 153, 233, 0.59) 100%
    );
}
main .comments .comments_bottom > div {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
main .comments .comments_bottom > div > div:nth-of-type(1) {
    position: relative;
}
main .comments .comments_bottom > div > div:nth-of-type(1) span {
    font-size: 5rem;
    position: absolute;
    font-family: "Manjari", sans-serif;
    font-style: italic;
    left: -10px;
}
main .comments .comments_bottom > div > div:nth-of-type(1) p {
    padding-top: 50px;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
main .comments .comments_bottom > div > div:nth-of-type(2) {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 25px;
}
main .comments .comments_bottom > div > div:nth-of-type(2) img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
main .comments .comments_bottom > div > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: column;
}
main .comments .comments_bottom > div > div:nth-of-type(2) > div span {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
main
    .comments
    .comments_bottom
    > div
    > div:nth-of-type(2)
    > div
    span:nth-of-type(1) {
    font-size: 1rem;
}
main
    .comments
    .comments_bottom
    > div
    > div:nth-of-type(2)
    > div
    span:nth-of-type(2) {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.78);
}
main .register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
main .register > div {
    padding: 75px 100px;
    margin: 50px;
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(140, 118, 214, 0.324583) 0%,
        rgba(254, 254, 255, 0.324583) 99.99%,
        rgba(172, 153, 233, 0.59) 100%
    );
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
}
main .register > div .register_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main .register > div .register_left h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}
main .register > div .register_left h3::first-letter {
    text-transform: uppercase;
}
main .register > div .register_left p {
    font-weight: 400;
    font-size: 1.125rem;
    width: 69%;
}
main .register > div .register_right {
    display: flex;
    align-items: flex-end;
}
main .register > div .register_right button {
    height: 80px;
    width: 300px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    background: linear-gradient(
        180deg,
        rgba(105, 79, 192, 0.03) 0%,
        rgba(172, 153, 233, 0.59) 100%
    );
    border-radius: 25px;
    text-transform: capitalize;
    cursor: pointer;
}
main .register > p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 1.4375rem;
}
main .register > p span {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
main .register > p span img {
    width: 30px;
    height: 30px;
}

footer {
    border-top: 1px solid white;
    margin-top: 50px;
    padding: 75px;
    display: flex;
    justify-content: space-between;
    color: white;
}
footer .footer_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .footer_left h3 {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2.1875rem;
}
footer .footer_left p {
    font-family: "Poppins", sans-serif;
    width: 40%;
    font-size: 1.5rem;
}
footer .footer_right {
    display: flex;
    gap: 75px;
}
footer .footer_right ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    flex-direction: column;
    text-transform: capitalize;
}
footer .footer_right ul li {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
} /*# sourceMappingURL=style.css.map */
